.title {
  color: #d41442;
  padding-bottom: 20px;
  text-align: center;
}
.text {
  color: rgb(243, 243, 243);
}
.btn {
  display: block;
  width: 150px;
  padding: 8px 0;
  margin: 20px auto;
  background: #4979ff;
  border-radius: 4px;
  color: white;
  text-align: center;
}

.categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
