@import url('https://fonts.googleapis.com/css2?family=Fredoka&family=Protest+Riot&display=swap');

.title {
  color: #e7486d;
  padding-bottom: 20px;
  font-family: 'Protest Riot', sans-serif;;
  text-align: center;
  font-size: 70px;
  margin: 15px;

}
.text {
  color: #e7486d;
  font-size: 30px;
  text-align: center;
  font-family: 'Protest Riot', sans-serif;
  padding-top: 0cqb;
}

.btn {
  display: block;
  width: 150px;
  padding: 8px 0;
  margin: 20px auto;
  background: #4979ff;
  border-radius: 4px;
  color: white;
  text-align: center;
}

.categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.mantra {
  font-size: 24px;
  text-align: center;
}

.sub{
  font-size: 24px;
}

.headlist {
  color: #e7486d;
  font-size: 30px;
  font-family: 'Protest Riot', sans-serif;
}